@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <section>
        <h2>Find an open restaurant</h2>
        <form asp-controller="Restaurant" asp-action="Open">
            <div class="form-group">
                <label for="desired-date">Date</label>
                <input type="date" name="date" class="form-control" id="desired-date"/>
            </div>
            <div class="form-group">
                <label for="desired-time">Time</label>
                <input type="time" name="time" class="form-control" id="desired-time"/>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </section>
</div>
