@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <section>
        <h2>Find an open restaurant</h2>
        <form asp-controller="Restaurant" asp-action="Open">
            <label>
                Enter the day to find restaurants:
                <input type="date" name="date">
            </label>
            <label>
                Enter the desired time:
                <input type="time" name="time">
            </label>
            <p><button>Submit</button></p>
        </form>

    </section>
</div>
